{% extends "base.html" %}
{% load i18n %}
{% block meta_title %}Login{% endblock %}
{% block main %}
<div id="ranga-padding">
<h2 class='featurette-heading'>Login</h2>
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input class='btn btn-large btn-primary' type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
<p></p>
<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
<div class="ranga-top"></div>
{% endblock %}
