{% extends "base.html" %}
{% block meta_title %}Gallery{% endblock %}
{% block main %}
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

<link rel="stylesheet" href="{{ STATIC_URL }}galleria/themes/twelve/galleria.twelve.css">


<script src="{{ STATIC_URL }}galleria/galleria-1.3.3.min.js"></script>
<div class="container" >


<div id="galleria" style="padding-top: 5%;">      
   {% for img in images %}
   <img src="{{ STATIC_URL }}uploaded-images/{{img.image_path}}.{{img.extension}}" data-thumb="{{ STATIC_URL }}uploaded-images/{{img.image_path}}-thumb.{{img.extension}}" data-title="{{img.submitter}}: {{img.image_name}}" data-link="/image/{{img.id}}" data-description="{{img.image_description}}">
   {% endfor %}
 </div>


</div>


<script>
  var height = $(window).height()-70;
  console.log(height);
  $("#galleria").height(height);


  Galleria.loadTheme('{{ STATIC_URL }}galleria/themes/twelve/galleria.twelve.js');
  Galleria.configure({

  });
  Galleria.run('#galleria',{
    
    
    preload:1,

  });
</script>
{% block javascriptincludes %}



{% endblock %}
{% endblock %}