{% extends "base.html" %}
{% load mezzanine_tags %}
{% block meta_title %}Map{% endblock %}
{% if user.is_staff %}
<script src="{{ STATIC_URL }}mezzanine/js/jquery-1.7.1.min.js">
  jQuery.noConflict();
</script>
{% endif %}
{% block javascriptincludes %}

<script type="text/javascript" src="{{ STATIC_URL }}js/map-coords.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAwwi-pYumS3O9OxbscA3pbDb_MPuWA6Eo&libraries=geometry&sensor=false"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/map-final-test.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/maplabel-compiled.js"></script>
<script>
 $( "#region" ).click(function(event){
    console.log(event.target.id);
    var regionName = event.target.id;
   regionDropdown(regionName);
 });

 $("#map_controls").on('click','#rivers', function(event){
   displayRivers();
 });
</script>
<script type="text/javascript">
  {% autoescape off %} 
  var points = {{latLngs}}
  var markers = []
  {% endautoescape %} 
</script>
<script>
  var height = $(window).height()-50;
  $("#map_canvas").height(height);

  $(window).resize(function() {
    var height = $(window).height()-50;
    $("#map_canvas").height(height);
  });

</script>


{% endblock %}


{% block main %}
<style>
  #wrapper { position: relative; }
  #map_controls { position: absolute; width: 100px; left: 5px; top: 5px;}
</style>
<style>
  #map_canvas{
    display: block;
    height: 1500px;
  }
  #map_canvas img{
    max-width: none;
  }
  body {
    padding-top: 50px;
    background-color:#ffffff;
    padding-bottom: 0px;
  }
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  img {
    /* Responsive images (ensure images don't scale beyond their parents) */
    max-width: 160px;
    /* Part 1: Set a maxium relative to the parent */
    width: auto\9;
    /* IE7-8 need help adjusting responsive images */
    height: auto;
    /* Part 2: Scale the height according to the width, otherwise you get stretching */
    vertical-align: middle;

    border: 0;
  }
  .centered {
    display: inline-block;
    vertical-align: middle;
  }


</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">



<div id="wrapper">
  <div id="map_canvas"></div>
  <div class "dropdown" id="map_controls">
  <button id="rivers" name="rivers" value="Toggle Waterways" type="button" class="btn btn-info btn-sm">Toggle Waterways</button>
  <div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle btn-md" data-toggle="dropdown">
    Select Region <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" id="region"  role="menu">
    <li><a href="#" id ="None">Hide All</a></li>
    <li class="divider"></li>
    <li><a  href="#" id="Northland">Northland</a></li>
    <li><a href="#" id="Auckland">Auckland</a></li>
    <li><a href="#" id="Waikato">Waikato</a></li>
    <li><a href="#" id="West Coast">West Coast</a></li>
    <li><a href="#" id="Bay of Plenty">Bay of Plenty</a></li>
    <li><a href="#" id="Canterbury">Canterbury</a></li>
    <li><a href="#" id="Gisborne">Gisborne</a></li>
    <li><a href="#" id="Otago">Otago</a></li>
    <li><a href="#" id="Southland">Southland</a></li>
    <li><a href="#" id="Hawkes Bay">Hawkes Bay</a></li>
    <li><a href="#" id="Tasman">Tasman</a></li>
    <li><a href="#" id="Taranaki">Taranaki</a></li>
    <li><a href="#" id="Manawatu-Wanganui">Manawatu-Whanganui</a></li>
    <li><a href="#" id="Nelson">Nelson</a></li>
    <li><a href="#" id="Wellington">Wellington</a></li>
    <li><a href="#" id="Malborough">Malborough</a></li>
    <li class="divider"></li>
    <li><a href="#" id="All">Show All</a></li>
  </ul>
</div>
</div>

</div>


{% endblock %}


{% editable_loader %}


{% block footer %}{% endblock %}
